numpy kütüphanesini kullanarak üreteceğiniz 3 farklı veri aracılığı ile merkezi eğilim ve dağılım ölçümlerini hem yukarıda verilen matematiksel formülle hem de python'da hazır bulunan (built-in) kodlar aracılığıyla analiz edin!!!

In [22]:
import numpy as np
import pandas as pd

football = pd.DataFrame()
football['position'] = ['goal_keeper'] * 25 + ['defender'] * 25 + ['midfielder'] * 25 + ['forward'] * 25
football['goals_scored'] = abs(np.append(np.random.normal(30, 8, 50), np.random.normal(45, 5, 50)))
football['games_played'] = abs(np.append(np.random.normal(15, 8, 50), np.random.normal(25, 5, 50)))
football

       position  goals_scored  games_played
0   goal_keeper     34.726405      0.474817
1   goal_keeper     21.816847     24.376048
2   goal_keeper     40.814429     14.569593
3   goal_keeper     33.287994     16.890811
4   goal_keeper     26.580206      6.569436
..          ...           ...           ...
95      forward     42.973806     22.261027
96      forward     40.096655     25.879135
97      forward     39.539191     23.863693
98      forward     39.977707     13.333048
99      forward     49.743777     21.921870

[100 rows x 3 columns]

Central tendency without built-in codes

In [35]:
var1 = sum ((football['goals_scored']-football['goals_scored'].mean())**2)
var2 = len (football['goals_scored'])-1
var = var1/var2
print (var)

83.15826772253189

In [38]:
sd = var**(1/2)
print(sd)

9.119115512073082

In [40]:
se = sd / (len(football['goals_scored'])**(1/2))
print (se)

0.9119115512073082

Central tendency with built-in codes

In [24]:
print(football['goals_scored'].var())

83.15826772253189

In [25]:
np.std(football['goals_scored'], ddof=1)

9.119115512073082

In [26]:
np.std(football['goals_scored'] ,ddof=1) / np.sqrt(len(football['goals_scored']))

0.9119115512073082

In [0]:
print(football['goals_scored'].var())